{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="mb-3">
  <label  class="form-label">address</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label  class="form-label">phone</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<div class="mb-3">
  <label  class="form-label">Accountno</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>